Name = Muktianando

Project = "Movies Analysis"

date = Mar 22, 2022

Source data = https://www.kaggle.com/haffizzanibrahim/movie-cleaning-finding-correlation/data

# Ask

grogrofrom that table i tried the insight from movies data. source data came from scrapped data in imdb. and it distributed in 15 coloum include infrormation about rating and value from each movie. based on that information i tried to find insight include :

-  <span style="background-color: rgba(127, 127, 127, 0.1);">&nbsp;what best favourite genre movie ?</span>
-  <span style="background-color: rgba(127, 127, 127, 0.1);">&nbsp;who best star movie all the time ?</span>
-  <span style="background-color: rgba(127, 127, 127, 0.1);">&nbsp;How many company produce film each year&nbsp; ?</span>
- <span style="background-color: rgba(127, 127, 127, 0.1);">Most expensive movies all the time ?</span>
- <span style="background-color: rgba(127, 127, 127, 0.1);">Most profitable movies all the time ?</span>
- <span style="background-color: rgba(127, 127, 127, 0.1);">Most popular moviea all the time&nbsp;</span> ?

<span style="font-size: 14px;">Beside that insight i want to know what the correlation about variable in coloumn such as&nbsp;</span> 

- <span style="font-size: 14px;">budget for gross</span>
- score for gross

# Prepare and Process

In [ ]:
/* select database and use movie table 
*/

use Movies ;

select * from movies$ ;

In [ ]:
/* check data type in every coloumn 
*/

SELECT COLUMN_NAME, 
	DATA_TYPE, 
    IS_NULLABLE, 
    CHARACTER_MAXIMUM_LENGTH, 
    NUMERIC_PRECISION, 
    NUMERIC_SCALE 
FROM Movies.INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME='movies$';

In [ ]:
--- Find missing values

select 
    sum(case when name is NULL then 1 else 0 end) as 'name',
    sum(case when rating is null then 1 else 0 end) as 'rating',
    sum(case when genre is null then 1 else 0 end) as 'genre',
    sum(case when year is null then 1 else 0 end) as 'year',
    sum(case when released is null then 1 else 0 end) as 'released',
    sum(case when score is null then 1 else 0 end) as 'score',
    sum(case when votes is null then 1 else 0 end) as 'votes',
    sum(case when director is null then 1 else 0 end) as 'director',
    sum(case when writer is null then 1 else 0 end) as 'writer',
    sum(case when star is null then 1 else 0 end) as 'star',
    sum(case when country is null then 1 else 0 end) as 'country',
    sum(case when budget is null then 1 else 0 end) as 'budget',
    sum(case when gross is null then 1 else 0 end) as 'gross',
    sum(case when company is null then 1 else 0 end) as 'company',
    sum(case when runtime is null then 1 else 0 end) as 'runtime'
from dbo.[movies$]

In [ ]:
/* Drop missing value 
*/

Delete 
    from dbo.[movies$]
where 
    rating is null or
    released is null or
    score is null or 
    votes is null or 
    writer is null or 
    star is null or 
    country is null or 
    budget is null or 
    gross is null or 
    company is null or 
    runtime is null ;

In [ ]:
--- Delete duplicates cell 

select 
    *
FROM dbo.[movies$] 
group by 
    name,
    rating,
    genre,
    year,
    released,
    score,
    votes,
    director,
    writer,
    star,
    country,
    budget,
    gross,
    company,
    runtime
having count(*) > 1

#                                                               Analyze Data

In [ ]:
--- What favourite genre movie aech year 

select 
    genre,
    count(genre) as total_Genre
from dbo.[movies$]
group by genre
order by total_Genre DESC

In [ ]:
--- Who best star movie ?

select top 10
    star,
    count(star) as total_plays
from dbo.[movies$]
GROUP by star 
order by total_plays DESC

In [ ]:
--- How many comapny produce film each year ?

select TOP 10
    company,
    count(name) as total_movies
from dbo.[movies$]
group by company 
order by total_movies DESC

In [ ]:
--- mMost Expensive movies all the time

SELECT TOP 20
    name,
    company,
    budget,
    gross
from dbo.[movies$]
order by budget desc

In [ ]:
--- most profitable movies all the time

select top 20 
    name,
    company,
    year,
    (gross-budget) as profit_margin
from 
    dbo.[movies$]
order by profit_margin DESC

In [ ]:
---  Most popular movies all the time ?

SELECT top 20
    name,
    score
from 
    dbo.[movies$] a 
order by Score DESC

- Find correlation each variable

For finding value correlation between variable i used method 'pearson' correlation 

>

In [ ]:
--- Budgets for gross

select 
    ((a.tot_sum*cnt-(a.amt_budget*a.amt_gross))) / SQRT(((cnt*A.act_budget-POWER(a.amt_budget,2)) * (cnt*a.act_gross)-POWER(a.amt_gross,2))) as Correlation
from
    (select 
        sum(budget * gross) as tot_sum,
        sum(budget) as amt_budget,
        sum(gross) as amt_gross,
        sum(budget*budget) as act_budget,
        sum(gross*gross) as act_gross,
        count(*) as cnt 
    from 
         dbo.[movies$]) a

In [ ]:
--- Score vs gross

select 
    ((a.tot_sum*cnt-(a.amt_score*a.amt_gross))) / SQRT(((cnt*A.act_score-POWER(a.amt_score,2)) * (cnt*a.act_gross)-POWER(a.amt_gross,2))) as Correlation
from
    (select 
        sum(score * gross) as tot_sum,
        sum(score) as amt_score,
        sum(gross) as amt_gross,
        sum(score*score) as act_score,
        sum(gross*gross) as act_gross,
        count(*) as cnt 
    from 
         dbo.[movies$]) a

In [ ]:
--- Votes for gross

select 
    ((a.tot_sum*cnt-(a.amt_votes*a.amt_gross))) / SQRT(((cnt*A.act_votes-POWER(a.amt_votes,2)) * (cnt*a.act_gross)-POWER(a.amt_gross,2))) as Correlation
from
    (select 
        sum(votes * gross) as tot_sum,
        sum(votes) as amt_votes,
        sum(gross) as amt_gross,
        sum(votes*votes) as act_votes,
        sum(gross*gross) as act_gross,
        count(*) as cnt 
    from 
         dbo.[movies$]) a